<section id="about" class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>About Buddy Surfing</h2>
        <hr class="primary">
        <p><strong>Buddy Surfing</strong> is a open platform for all endavans employee. To encourage meet couchsurfing,traveling and enjoying.</p>
      </div>
    </div>
  </div>
</section>