<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Recommendations</h2>
      <hr class="primary mb">
    </div>
  </div>
  <div class="row blog-row">
    <div class="col-md-4 blog-col" data-scrollreveal="enter left over 1.5s" *ngFor="let recom of recommendations">
      <div class="blog-preview-content">
        <h3 class="title-blog-bs">
          {{ recom.place_name }}
        </h3>
        <p>{{ recom.description }}</p>
      </div>
      <ul class="meta list-inline">
        <li>{{ recom.address }}</li>
        <li><i class="fa fa-heart text-primary"></i> {{recom.like}}</li>
      </ul>
    </div>
  </div>
  <div class="row clearfix"></div>
</div>