
<!-- Standard Portfolio Modal - Images and Text -->
<div id="portfolio-modal-1" class="portfolio-modal modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
          <div class="lr">
              <div class="rl">
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row first">
              <div class="col-lg-12">
                  <h2 class="page-header">Project Name</h2>
              </div>
          </div>
          <div class="row">
              <div class="col-md-8">
                  <div id="project-details-carousel" class="owl-carousel owl-theme">

                      <div class="item">
                          <img src="assets/img/demo-portfolio/10.jpg" alt="">
                      </div>
                      <div class="item">
                          <img src="assets/img/demo-portfolio/11.jpg" alt="">
                      </div>
                      <div class="item">
                          <img src="assets/img/demo-portfolio/12.jpg" alt="">
                      </div>

                  </div>
              </div>
              <div class="col-md-4">
                  <h3>Rosario:</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, et, ea, accusantium reprehenderit aliquam numquam fuga natus fugiat odit distinctio illo at unde.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, iusto molestiae possimus sint dignissimos! Laudantium, dolore, vel, sint, labore optio perferendis illo dolorum similique soluta eum cupiditate assumenda consequatur maiores.</p>
              </div>
          </div>
          <div class="row">
              <div class="col-md-8">
                  <h3>Project Details:</h3>
                  <ul class="list-unstyled project-details">
                      <li>
                          <strong>Client:</strong>Lorem Ipsum</li>
                      <li>
                          <strong>Services:</strong>Web Design, Photography</li>
                      <li>
                          <strong>Date:</strong>January 2015</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>