<footer class="footer-1">
  <div class="upper">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h2 class="script">BuddySurfing</h2>
          <address>
            <strong>Endava.</strong>
            <br>Urquiza 2284
            <br>Rosario, 2000 STA FE:
            <br>
            <abbr title="Phone">P:</abbr> (341) 456-7890
          </address>
        </div>
        <div class="col-md-3">
          <h4>Features</h4>
          <ul class="list-unstyled footer-links">
            <li>
              <a href="#">Find a local Buddy</a>
            </li>
            <li>
              <a href="#">Meet recommendation</a>
            </li>
            <li>
              <a href="#">Explore cities</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4>Looking for</h4>
          <ul class="list-unstyled footer-links">
            <li>
              <a href="#">Drink</a>
            </li>
            <li>
              <a href="#">Food</a>
            </li>
            <li>
              <a href="#">Party</a>
            </li>
            <li>
              <a href="#">Sightseeing</a>
            </li>
            <li>
              <a href="#">Hosting</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4>Social</h4>
          <ul class="list-inline">
            <li>
              <a href="#" class="btn btn-social-light btn-facebook"><i class="fa fa-fw fa-facebook"></i></a>
            </li>
            <li>
              <a href="#" class="btn btn-social-light btn-twitter"><i class="fa fa-fw fa-twitter"></i></a>
            </li>
            <li>
              <a href="#" class="btn btn-social-light btn-dribbble"><i class="fa fa-fw fa-dribbble"></i></a>
            </li>
            <li>
              <a href="#" class="btn btn-social-light btn-google-plus"><i class="fa fa-fw fa-google-plus"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="lower">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <span class="small">Copyright &copy; 2018 - BuddySurfing - Endava. All Rights Reserved.</span>
        </div>
      </div>
    </div>
  </div>
</footer>