<section id="testimonials" class="portfolio-2 bg-lighter text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Buddies</h2>
        <hr class="primary">
      </div>
      <div class="col-lg-12">
        <div *ngFor="let b of buddies">
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
              <img src="{{ b.bio_image_url | image }}" class="img-circle img-responsive img-centered" alt="">
              <p>{{ b.bio }}</p>
              <p class="text-primary">- {{ b.name }}</p>
              <div *ngIf="b.guided_tour" class="feature-bs-camera"></div>
              <div *ngIf="b.invite_drink" class="feature-bs-drink"></div>
              <div *ngIf="b.hosting" class="feature-bs-hosting"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>