<app-nav-bar></app-nav-bar>
<header class="intro-img intro-dark-bg" [style.background-image]="backgroundImage ? 'url('+ backgroundImage + ')' : ''">
  <div class="overlay"></div>
</header>

<app-buddies-list [city]="city"></app-buddies-list>
<app-recommendations-list [city]="city"></app-recommendations-list>