<section id="features" class="services-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2>Buddy Surfing Features</h2>
        <hr class="primary">
      </div>
      <div class="col-lg-12 text-center" data-scrollreveal="enter bottom over 1.5s">
        <ul id="services-1-carousel" class="icon-effect list-inline">
          <li class="item">
            <span class="icon bs-food"></span>
            <h3>Food</h3>
            <p>Find the best place to eat</p>
          </li>
          <li class="item">
            <span class="icon bs-drink"></span>
            <h3>Drinks</h3>
            <p>Awesome drinks in the city</p>
          </li>
          <li class="item">
            <span class="icon bs-camera"></span>
            <h3>Sightseeing</h3>
            <p>Places you cant miss</p>
          </li>
          <li class="item">
            <span class="icon bs-party"></span>
            <h3>Party</h3>
            <p>Get fun!</p>
          </li>
          <li class="item">
            <span class="icon bs-hosting"></span>
            <h3>Hosting</h3>
            <p>Find a nice place to stay</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>