<header class="video-bg">
  <div class="intro-video intro-dark-bg container">
    <div class="overlay"></div>
    <div class="intro-body" data-scrollreveal="move 0 over 1.5s">
      <div class="container">
        
            <h1 class="brand-heading">
                <span class="text-primary">Work</span> traveling and <span class="text-primary">enjoying </span>
            </h1>
            <h2>
                Meet new places like only an <span class="text-primary">endavan</span> knows
            </h2>
        <hr class="light">
        <div class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item active">
              <h4>Food</h4>
            </div>
            <div class="item">
              <h4>Drinks</h4>
            </div>
            <div class="item">
              <h4>Sightseeing</h4>
            </div>
            <div class="item">
              <h4>Party</h4>
            </div>
            <div class="item">
              <h4>Hosting</h4>
            </div>
          </div>
        </div>
        <div class="page-scroll" data-scrollreveal="enter bottom after .6s">
          <a href="#about" class="btn btn-scroll-light sink">
            <i class="fa fa-angle-double-down"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>