<section id="cities" class="portfolio-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Cities</h2>
        <hr class="primary">
        <ul class="list-inline hidden-xs" id="filters">
          <li>
            <button data-filter="*" type="button" class="btn btn-primary btn-square btn-raised">All</button>
          </li>
          <li>
            <button data-filter=".namerica" type="button" class="btn btn-primary btn-square btn-raised">North America
            </button>
          </li>
          <li>
            <button data-filter=".lamerica" type="button" class="btn btn-primary btn-square btn-raised">Latin America
            </button>
          </li>
          <li>
            <button data-filter=".ceurope" type="button" class="btn btn-primary btn-square btn-raised">Central Europe
            </button>
          </li>
          <li>
            <button data-filter=".weurope" type="button" class="btn btn-primary btn-square btn-raised">Western Europe
            </button>
          </li>
        </ul>
        <div class="row" data-scrollreveal="enter bottom over 1.5s">
          <div class="isotope">
            <div *ngFor="let city of cities">
              <div class="col-sm-4 portfolio-item weurope" *ngIf="city.continent === 'Western Europe'">
                <a routerLink="/City/{{ city.city_name }}" class="portfolio-link" data-toggle="modal">
                  <div class="caption">
                    <div class="caption-content">
                      <h3>{{ city.city_name }}</h3>
                    </div>
                  </div>
                  <img src="{{ city.image_url | image }}" class="img-centered" alt="">
                </a>
              </div>
              <div class="col-sm-4 portfolio-item namerica" *ngIf="city.continent === 'North America'">
                <a routerLink="/City/{{ city.city_name }}" class="portfolio-link" data-toggle="modal">
                  <div class="caption">
                    <div class="caption-content">
                      <h3>{{ city.city_name }}</h3>
                    </div>
                  </div>
                  <img src="{{ city.image_url | image }}" class="img-centered" alt="">
                </a>
              </div>
              <div class="col-sm-4 portfolio-item ceurope" *ngIf="city.continent === 'Central Europe'">
                <a routerLink="/City/{{ city.city_name }}" class="portfolio-link" data-toggle="modal">
                  <div class="caption">
                    <div class="caption-content">
                      <h3>{{ city.city_name }}</h3>
                    </div>
                  </div>
                  <img src="{{ city.image_url | image }}" class="img-centered" alt="">
                </a>
              </div>
              <div class="col-sm-4 portfolio-item lamerica" *ngIf="city.continent === 'Latin America'">
                <a routerLink="/City/{{ city.city_name }}" class="portfolio-link" data-toggle="modal">
                  <div class="caption">
                    <div class="caption-content">
                      <h3>{{ city.city_name }}</h3>
                    </div>
                  </div>
                  <img src="{{ city.image_url | image }}" class="img-centered" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>