/* You can add global styles to this file, and also import other style files */

.blog-col {
  height: 290px;
}

.title-blog-bs {
  color: #de691b;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.feature-bs-food {
  background: #de691b url(assets/img/icons/food.png) no-repeat center;
  background-size: 80%;
  width: 60px;
  height: 60px;
  float: right;
  margin-right: 2px;
}

.feature-bs-camera {
  background: #de691b url(assets/img/icons/camera.png) no-repeat center;
  background-size: 80%;
  width: 60px;
  height: 60px;
  float: right;
  margin-right: 2px;
}

.feature-bs-drink {
  background: #de691b url(assets/img/icons/drink.png) no-repeat center;
  background-size: 80%;
  width: 60px;
  height: 60px;
  float: right;
  margin-right: 2px;
}

.feature-bs-hosting {
  background: #de691b url(assets/img/icons/hosting.png) no-repeat center;
  background-size: 80%;
  width: 60px;
  height: 60px;
  float: right;
  margin-right: 2px;
}

.feature-bs-party {
  background: #de691b url(assets/img/icons/party.png) no-repeat center;
  background-size: 80%;
  width: 60px;
  height: 60px;
  float: right;
  margin-right: 2px;
}